
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>⏳ Account Pending Approval</h3>
                    </div>
                    <div class="card-body">
                        <p>Your account is pending for admin approval this is under review by admin.</p>
                        <p>Please contact the admin for further assistance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}